.robot-container {
  width: 44%;
  height: 75%;
  border: 6px solid red;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.robot-face-shape {
  width: 75%;
  height: 75%;
  margin: auto;
  border: 10px solid rgb(13, 183, 239);
  border-radius: 10%;
}

.robot-eye-left {
}

.robot-eye-right {
}

.robot-ear-left {
}

.robot-ear-right {
}

.robot-nose {
}

.robot-teeth {
}

.robot-tooth {
}

.robot-hair-style {
}

.robot-hair-one {
}

.robot-hair-two {
}

.robot-hair-three {
}
